/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

*{
	margin: 0;
	padding: 0;
    box-sizing:border-box;
	font-family: 'Poppins', sans-serif;
}

header{
	width: 100%;
	height: 100vh;
    justify-content:center;
    align-items:center;
    background: linear-gradient(rgba(0,0,0,0.5),#663300), url(./images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navsection{
	width: 100%;
	height: 8vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.logo{
	width: 40%;
  
	color: #fff;
    letter-spacing: 2px;
	padding-left: 100px;
    
}

.logo .img-logo{
    width: 8%;
    margin-top: 45px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.logo h1{
	text-transform: uppercase;
	font-size: 1.6rem;
	animation: anime 2s linear infinite;
	animation-direction: alternate;
    color: #fff;
}

@keyframes anime{
	from{padding-left: 50px;}
	to{padding-right: 0px;}
}

nav{
	width: 60%;
	display: flex;
	justify-content: space-around;
}

nav a{
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	
	font-size: 20px;
	position: relative;
    letter-spacing: 1px;
}

nav a:after{
	content: '';
	width: 0%;
	height: 1px;
	background: #fff;
	display: block;
	margin: auto;
	transition: 0.4s;
}

nav a:hover:after{
	width: 100%;
}



.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}

.banner-text h1{
    font-size: 130px;
    letter-spacing: 1.5px;
    font-family: 'Kaushan Script', cursive;
}

.banner-text p{
    font-size: 18px;
    font-style: italic;
}

.banner-btn{
    margin: 70px auto 0;
}

.banner-btn a{

    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 14px; 
  
    color: #fff;
    border: 1px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}

.banner-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}

.banner-btn a:hover span{
    width: 100%;
}

.banner-btn a:hover{
    color: #000;
}



.servic{
	margin-top: 9%;
	display: flex;
	justify-content: center;
	font-size: 40px;
    font-family: 'Kaushan Script', cursive;
}

#service{
	margin-top: 10px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 3.5%;
}

.service-box{
    width: 80%;

    justify-content: space-around;
    margin: auto;
}

.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}

.single-service img{
    width: 100%;
    border-radius: 7px;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#663300);
    opacity: 0;
    transition: 1s;
}

.single-service:hover .overlay{
    opacity: 1;
}

.service-desc{
    width: 80%;
    position: absolute;
    bottom: 0;
	
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}

.service-desc h3{
	font-size: 28px;
}

hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

.service-desc p{
    font-size: 14px;
}

.single-service:hover .service-desc{
    bottom: 40%;
    opacity: 1;
}

.btn{
	padding: 4px 16px;
	margin-top: 8px;
	border: 2px solid #fff;
	background-color: #663300;
	box-shadow: 0 10px 20px -5px #00000070;
	color: #fff;
	border-radius: 50px;
}


footer{
    position: absolute;
    bottom: -135%;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: 'poppins', sans-serif;
    padding-top: 35px;
    color: #fff;
    width: 100%;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a i{
    font-size: 1.1rem;
    color: ghostwhite;
    transition: 0.2s linear;
}

.socials li a i:hover{
    color: #33ff33;
}

.footer-bottom{
    background: #000;
   
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 400;
}




 @media screen and (max-width: 998px) {
   

 }
 

 @media screen and (max-width: 768px) {


    header {
        width: 100%;
        height: 100.5vh;
        padding: 20px 0;
        background-position: center;
        background-size: cover;
    }
    
    .logo {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    
    .logo h1 {
        font-size: 1.2rem;
    }

    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    nav a {
        font-size: 16px;
        margin: 5px 0;
    }

    .banner-text {
        padding-top: 100px;
    }
    
    .banner-text h1 {
        font-size: 80px;
        margin-top: 25%;
    }

    .banner-text p{
        font-size: 18px;
        margin-top: 2%;
    }

    
    .banner-btn{
        margin: 6%;
    }

    .banner-btn a{   
        padding: 8px 12px;
    }


    .servic {
        margin-top: 99%;
        font-size: 30px;
    }
    
    #service {
        grid-template-columns: 1fr;
        margin-top: 20px;
    }
    
    .single-service {
        flex-basis: 100%;
        margin-bottom: 40px;
    }
 
    footer {
        bottom: -100%;
        padding-top: 20px;
    }
    
    .footer-content h3 {
        font-size: 1.4rem;
        line-height: 2rem;
    }
    
    .socials li {
        margin: 0 15px;
    }
    
} */